/*               Borderbox                */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* clearfix */
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    clear: both;
    *zoom: 1;
  }
  /*               End of Setup             */

  body {
    background-color: steelblue;
  }

  .container {
    margin: auto;
    max-width: 600px;
  }

  .game-wrapper {
      max-width: 600px;
      min-height: 500px;
      background-color:silver;
      margin:auto:
  }

  #timerDisplay {
      margin: auto;
      background-color: black;
      color: yellow;
      min-width: 100px;
      min-heigth: 60px;
      max-width: 200px;
      text-align: center;
  }

  #timer-value {
      font-size: 50px;
  }

  #mathOpDisplay {
    margin: auto;
    background-color: black;
    color: yellow;
    min-width: 100px;
    min-heigth: 60px;
    max-width: 200px;
    text-align: center;
  }

  #mathOpvalue {
    font-size: 60px;
  }

  #playerInputDisplay {
    display: flex;
    flex-direction: column;
    background-color:purple;
  }

  #radioDiv {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      border: 4px solid black;
      background-color: tan;
  }

  #numberLimitPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid black;
    background-color: tan;
  }